---
import Layout from '../../layouts/Base.astro';
import LanguagePicker from "@/components/LanguagePicker.astro";
import Logo from "@/components/Logo.astro"
import Header from "@/components/Header.astro";
import Foot from "@/components/Foot.astro"
import { Icon } from 'astro-icon/components'
import {  parseLocaleByPath } from "@/i18n/utils";
const {lang} = parseLocaleByPath(Astro.url.pathname)
import state from "@/global-state.json"

---

<Layout title="Aolotto">
	<main class="w-full lg:w-10/12 max-w-[1440px] px-6 lg:px-8">
		<Header/>
		<section class="pb-16 lg:pb-32 pt-16 flex flex-col justify-center items-start">
			<div class="text-[3em]  lg:text-[5.5em] leading-[1.2] font-display text-left">The first decentralized <span class="bg-base-content rounded-full inline-flex px-[0.4em] text-base-200 scale-90">lottery</span> protocol built on Arweave AO, Simple, Transparent and Open.</div>
			<div class="mt-8 flex gap-4 items-start lg:items-center flex-col lg:flex-row">
				<a href=`https://docs.aolotto.com/${lang}` class="btn-primary">Get Started <Icon name="carbon:arrow-right" /></a>
				<div class="text-base-content/50 inline-flex gap-2"> View protocol on <a href={state.protocol_url} class="inline-flex items-center">ao.link <Icon name="carbon:arrow-up-right" /></a>  </div>
			</div>
		</section>
		<Foot/>
	</main>
</Layout>

<style>

</style>
