---
import Layout from '../../layouts/Base.astro';
import LanguagePicker from "@/components/LanguagePicker.astro";
import Logo from "@/components/Logo.astro"
import {  parseLocaleByPath } from "@/i18n/utils";
const {lang} = parseLocaleByPath(Astro.url.pathname)
console.log('lang: ', lang);
---

<Layout title="Welcome to Astro.">
	<main class="w-10/12 max-w-[1024px] min-w-[360px]">
		<header class='flex justify-between'>
			<Logo/>
			<LanguagePicker/>
		</header>
		<section>
			<div class="text-7xl">The first decentralized lottery protocol built on Arweave AO, Simple, Transparent and Open.</div>
			<div><a href=`https://docs.aolotto.com/${lang}` class="btn">Get Started</a></div>
		</section>
		<footer>
			<div class="">© MIT License 2024.</div>
			<div class="">
				<ul>
					<li>github</li>
				</ul>
			</div>
		</footer>
	</main>
</Layout>

<style>

</style>
