---
import Layout from '../../layouts/Layout.astro';
import { getCollection, getEntry } from 'astro:content';

// 获取集合中的所有条目。
// 需要集合的名称作为参数。
// 示例：检索 `src/content/blog/**`
const allDocs = await getCollection('docs');

---

<Layout title="Welcome to Astro.">
	<main>
		<section>aolotto</section>
		<section>aolotto 中文</section>
	</main>
</Layout>

<style>
	main {
		margin: auto;
		padding: 1rem;
		width: 800px;
		max-width: calc(100% - 2rem);
		color: white;
		font-size: 20px;
		line-height: 1.6;
	}


</style>
