---
import { getRelativeLocaleUrl } from "astro:i18n";
import { Icon } from 'astro-icon/components'

const languages = {
  en: 'English',
  cn: '中文',
};
const parts = Astro.url.pathname?.split('/');
const lang = parts.shift() || parts.shift();
const path = parts.join("/")
---

<div class="flex items-center">
  <!-- <Icon name="carbon:translate" /> -->
  <select class="border-none text-sm outline-0" id="langPicker">
    {Object.entries(languages).map(([locale, label]) => (
      <option value={locale=="en"?"":locale} selected={lang===locale}>{label}</option>
    ))}
  </select>
</div>

<script>
  var langPicker = document.getElementById("langPicker");
  langPicker.onchange = function(e) {
    console.log(e)
    if(e.type === "change"){
      let index = this.options.selectedIndex;
      let value = this.options[index].value;
      window.location.href="/"+value
    }
  }
</script>